/*  This file does the formatting for the main look of each page including headers 
with navigation bars and also the footers. */

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0;
  padding: 20px;
}

.navbar-nav {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.nav-item {
  padding: 0 0.8em;
}

main {
  flex: 1 calc(80vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

main p {
    padding: 0 20px; /* Adds horizontal padding */
    text-align: justify; /* Justifies the text for better readability */
    margin-bottom: 20px; /* Adds some space between paragraphs */
}

footer {
  display: flex;
  justify-content: space-between; /* This aligns children elements to the sides */
  align-items: center; /* This keeps items vertically aligned at the center */
  padding: 20px; /* Adds some padding for spacing */
}

footer a {
  margin-left: auto; /* Pushes the link to the right */
  text-decoration: none; /* Removes the underline from the link */
}

.picture-box img {
    max-width: 65%; 
    height: auto;
    display: block;
    margin: 0 auto;
}

main p {
  padding-top: 30px; /* Adjust the value as needed */
}

#randomActivityContainer {
  text-align: center; /* Ensure text is centered within the div */
  /* Additional styling for aesthetics */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Or fixed width, e.g., 400px */
  max-width: 600px; /* Optional: To prevent it from becoming too wide on large screens */
  margin: auto; /* To horizontally center if using fixed width or max-width */
}

#randomActivityContainer p {
  text-align: center;
}
