/*  This file does the formatting for the main section of myLists and groupLists
in order to make the list formatting look better */

/* lists.css */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main div, main h3, main ul {
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.notification {
  flex: 1;
  width: 100%;
  padding: 0 1em; /* Removes top and bottom padding, applies left and right padding */
  margin-bottom: 10px; /* Adjusts spacing between notifications, if needed */
  line-height: 1.4; /* Controls the height of lines within the notification, effectively managing vertical space */
}

.user-name, #user-messages {
  display: inline;
  margin-right: 5px;
  padding: 0 5px; /* No top/bottom padding, applies left/right padding */
  opacity: 0.7;
}

.user-name {
  color: rgb(118, 190, 210);
  opacity: 1; /* Assuming you want the username fully opaque */
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

h3 {
  color: #333;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
    gap: 30px; /* Adjust the space between the list and its completed items */
    margin-bottom: 15px; /* Space between each list-container */
    margin-top: 15px;
    border: 2px solid #ccc; /* Adds a light grey border around the container */
    border-radius: 8px; /* Adds rounded corners to the border */
    padding: 20px; /* Adds some padding inside the container */
}

.list-container > div {
    flex: 1;
    flex-basis: 250px; /* Suggests an initial starting point for the flex item but allows growth */
    min-width: 0; /* Allows the items to shrink if necessary, useful for responsiveness */
}

@media (max-width: 768px) {
    .list-container {
        flex-direction: column;
        align-items: center; /* Centers the items when stacked vertically */
    }
}